<form [formGroup]="newEventForm" (ngSubmit)="onSubmit()" novalidate>
    <div class="form-group">
        <label for="eventName"> Nazwa wydarzenia </label>
        <input id="eventName"
               formControlName="eventName"         
               placeholder="Podaj nazwę wydarzenia"
               type="text" 
               class="form-control"
               [ngClass]="{ 'is-invalid' : hasErrors('EventName') }" />
        <div *ngIf="hasErrors('EventName')" class="invalid-feedback">
            Nazwa zdarzenia jest wymagana.
        </div>
    </div>
    <div class="form-group">
        <label for="eventDate"> Data wydarzenia </label>
        <input id="eventDate"
               formControlName="eventDate" 
               type="date" 
               class="form-control"
               [ngClass]="{ 'is-invalid' : hasErrors('EventDate') }" />
        <div *ngIf="hasErrors('EventDate')" class="invalid-feedback">
            Data wydarzenia jest wymagana.
        </div>
    </div>
    <div class="form-group">
        <label for="place"> Miejsce </label>
        <input id="place" 
               formControlName="place" 
               placeholder="Podaj miejsce wydarzenia" 
               type="text" 
               class="form-control"
               [ngClass]="{ 'is-invalid' : hasErrors('Place') }" />
        <div *ngIf="hasErrors('Place')" class="invalid-feedback">
            Miejsce jest wymagane.
        </div>
    </div>
    <div class="form-group">
        <label for="description"> Opis wydarzenia </label>
        <textarea id="description" 
                  formControlName="description" 
                  rows="10"
                  placeholder="Krótki opis tego co się będzie tam działo"
                  class="form-control"
                  [ngClass]="{ 'is-invalid' : hasErrors('Description') }"></textarea>
        <div *ngIf="hasErrors('Description')" class="invalid-feedback">
            Opis jest wymagany.
        </div>
    </div>
    <button type="submit"
            [disabled]="newEventForm.invalid" 
            class="btn btn-success"> Dodaj </button>
    <button type="submit" 
            class="btn btn-default" 
            (click)="onBack()"> Powrót </button>
</form>